.card-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .customer-card-details {
        background-color: lightgrey;
        height: 26.5%;
        border-bottom:1px black solid;
        text-align: center;
        font-weight: 700;

        p{
            font-weight: 300;
            span{
                font-weight: 700;
            }
        }

    }

   

}

